@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400&family=Raleway:wght@300;400&family=Teko:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.auth
{
  min-height: 100vh;
  /* display: flex; */
  background-image: url('./bg.jpg');
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar { 
  width: 10px; 
} 

/* Track */
::-webkit-scrollbar-track { 
  background: #f1f1f1; 
} 

/* Handle */
::-webkit-scrollbar-thumb { 
  background: #888; 
  border-radius: 5px; 
} 

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { 
  background: #555; 
}